.navbar {
  background-color: #007bff; /* Blue color */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.navbar-heading {
  margin: 0;
}

.navbar {
  background-color: #007bff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; /* Adjust the height as needed */
  top-margin: 100vh;
  gap :20px;
  padding-top: 10vh;
}

